{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{%include "styles.html"%}
	<title>Blogazon
	</title>
</head>
<body>
	{%include "navbar.html"%}
	<div class="container-fluid main">
	{%include  "sidenav.html"%}
		<div class="container">
			<div class="row">
				<section class="blank-space"></section>
				<div class="asymmetric text-center">
				<h4>That's a Negative Ghost Rider</h4>
					<h3>404 and junk</h3>
				<h5>Maybe try to be more specific with your search terms</h5>
			</div>
			<section class="blank-space"></section>
			</div>

		</div>
	</div>
	{%include "scripts.html"%}
</body>
</html> 